@font-face {
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../packages/zzz/assets/src/fonts/MavenPro-Regular.woff2")
    format("woff2");
}

@font-face {
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../../packages/zzz/assets/src/fonts/MavenPro-Medium.woff2")
    format("woff2");
}
