:root {
  color-scheme: dark;
}

body {
  margin: 0;
  font-size: 14px;
  font-family: var(--font-ui);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh !important;
  min-width: fit-content !important;
  overflow: visible !important;
}

#root {
  height: 100vh !important;
}

code {
  font-family: var(--font-mono);
}

.grad-B {
  background-image: linear-gradient(to bottom right, #515474, #499fb3);
}
.grad-A {
  background-image: linear-gradient(to bottom right, #595482, #b886ca);
}
.grad-S {
  background-image: linear-gradient(to bottom right, #695453, #e6ac54);
}
